<div class="alert alert-danger" role="alert">
    {{message_error}}
</div>
<div class="mx-auto col-lg-6">
    <img src="https://promoboxx.com/wp-content/uploads/2017/01/404guy.png" alt="error logo">
</div>